.add{
	text-align: center;
	font-size: 3em;
	position: fixed;
	right: 5px;
	top: 5px;
	display: block;
	width: 15vw;
	height: 15vh;
/*	color: mediumseagreen*/

	border-radius: 125px;
	background-color: ghostwhite;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
.arrow{
/*	display: inline;*/
	text-align: center;
	width: 15vw;
}
.arrow2{
/*	display: inline;*/
	text-align: center;
	width: 25vw;
}
.bad-guy{
	position: fixed;
	left: 25vw;
	top: 25vh;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 125px;
	background-color: gray;
	transition-duration: 1000ms;
	transition-timing-function: ease-in-out;
}
#badGuy5{
	z-index: 25;
}
body{
	background-color: beige;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.center{
	display: flex;
	align-items: center;
	text-align:right;
}
.data{
	display: inline-block;
	width: 30vw;
	height: 10vh;
	position: fixed;
	bottom: 10vh;
}
h1{
	font-size: 1.5em;
	position: fixed;
	top: 1vh;
	left: 1vw;
	padding: 0px;
	margin: 0px;
}
html{
		font-family: monospace;
}
p{
	font-family: fantasy;
}
/*
.pexelsLogo{
	position: fixed;
	right: 5px;
	bottom: 5px;
	width: 75px;
	filter: invert(1);
}
*/
.slide{
	position: fixed;
	left: 50vw;
	top: 50vh;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 125px;
	background-color: powderblue;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
	z-index: 24;
}
.slideButtonV{
	text-align: center;
	font-size: 3em;
	position: fixed;
/*	display: block;*/
	top: 40vh;
	width: 15vw;
	height: 15vh;

	border-radius: 125px;
	background-color: palegreen;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
.slideButtonH{
	text-align: center;
	font-size: 3em;
	position: fixed;
/*	display: block;*/
	left: 40vw;
	width: 25vw;
	height: 10vh;

	border-radius: 125px;
	background-color: palegreen;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
#message{
	color: midnightblue;
}
#scrollDiv{
	position: relative;
	top: 110vh;
	display: inline-block;
	width: 1px;
	height: 1px;
}
#sliderR{
	right: 5px;
}
#sliderD{
	bottom: 5px;
}
#sliderL{
	left: 5px;
}
#sliderU{
	top: 5px;
}
#stats{
	position: fixed;
	top: 4vh;
	left: 1vw;
}
.status{
	color: deeppink;
	font-weight: bolder;
	font-size: 2em;
}
