html{
		font-family: fantasy;
}
body{
	background-color: beige
}

h1{
	text-shadow: 5px 5px 50px;
}
p{
	font-family: fantasy;
}
.slide{
	position: fixed;
	left: 250px;
	top: 250px;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
	border-radius: 10px;
}
