.add{
	text-align: center;
	font-size: 3em;
	position: fixed;
	right: 0vw;
	top: 0vh;
	display: block;
	width: 15vw;
	height: 15vh;
	z-index: 30;
/*	color: mediumseagreen*/

	border-radius: 125px;
	background-color: ghostwhite;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
.arrow{
/*	display: inline;*/
	text-align: center;
	width: 15vw;
}
.arrow2{
/*	display: inline;*/
	text-align: center;
	width: 25vw;
}
.bad-guy-start{
	position: fixed;
	right: 5vw;
	top: 5vh;
	display: block;
	width: 10vw;
	height: 10vh;
	border-radius: 125px;
/*	background-color: gray;*/
	mix-blend-mode:exclusion;
	isolation:isolate;

	transition-duration: 1000ms;
	transition-timing-function: ease-in-out;
}
.bad-guy{
	position: fixed;
	left: 20vw;
	top: 20vh;
	display: block;
	width: 10vw;
	height: 10vh;
	border-radius: 125px;
/*	background-color: gray;*/
	mix-blend-mode:exclusion;
	isolation:isolate;
	animation-name: add;
	animation-duration: 200ms;
	animation-timing-function: linear;

	transition-duration: 1000ms;
	transition-timing-function: ease-in-out;
}
#badGuy5{
	z-index: 25;
	mix-blend-mode:normal;
/*	isolation:isolate;*/
}
body{
	background-color: beige;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.center{
	display: flex;
	align-items: center;
	text-align:right;
}
.data{
	display: inline-block;
	width: 30vw;
	height: 10vh;
	position: fixed;
	bottom: 10vh;
}
h1{
	font-size: 1.5em;
	position: fixed;
	top: 1vh;
	left: 1vw;
	padding: 0px;
	margin: 0px;
}
html{
	font-family: monospace;
	font-size: 12px
}
#message{
	color: midnightblue;
	height: 20vh;
	overflow: scroll;
	font-size: 1.1em;
}
p{
/*	font-family: fantasy;*/
}
/*
.pexelsLogo{
	position: fixed;
	right: 5px;
	bottom: 5px;
	width: 75px;
	filter: invert(1);
}
*/
.slide{
	position: fixed;
	left: 50vw;
	top: 50vh;
	display: block;
	width: 10vw;
	height: 10vh;
	border-radius: 125px;
	background-color: powderblue;
/*	background-blend-mode: difference;*/
	mix-blend-mode: darken;
	transition-duration: 100ms;
	transition-timing-function: ease-in-out;
	z-index: 24;
}
.slideButtonV{
	text-align: center;
	font-size: 3em;
	position: fixed;
/*	display: block;*/
	top: 37vh;
	width: 15vw;
	height: 25vh;

	border-radius: 125px;
	background-color: palegreen;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
.slideButtonH{
	text-align: center;
	font-size: 3em;
	position: fixed;
/*	display: block;*/
	left: 35vw;
	width: 25vw;
	height: 10vh;

	border-radius: 125px;
	background-color: palegreen;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
/*
#scrollDiv{
	position: relative;
	top: 110vh;
	display: inline-block;
	width: 1px;
	height: 1px;
	transition-duration: 50ms;
	transition-timing-function: ease-in-out;
}
*/
#scrollMessage{
	font-size: 4rem;
	position: absolute;
	top:35vh;
	left: 20vh;
	z-index: 100;
	display: block;
	width: 60vw;
	font-weight: bolder;
	background-color: orange;
	border-style: solid;
	border-width: thick;
	text-align: center;
	padding: 5vw;
	border-radius: 50px;
}
.shadow{
/*	text-shadow: .5px .5px 0.1px black;*/
	font-weight: bolder;
	font-size: 1.5em;
/*	text-shadow: 1px 1px 0px black;*/
	text-shadow:
		1px 1px 0px black,
		-1px -1px 1px powderblue,
		2px -1px 0px black
		;


}
#sliderR{
	right: 0vw;
}
#sliderD{
	bottom: 0vh;
}
#sliderL{
	left: 0vw;
}
#sliderU{
	top: 0vh;
}
#stats{
	position: fixed;
	top: 5vh;
	left: 1vw;
}
.status{
	color: deeppink;
	font-weight: bolder;
	font-size: 2em;
}
@keyframes add {
from {
	top: 5vh;
	left: 95vw;
	}
to {
	top: 20vh;
	left: 20vw;
	}
}
